.footer {
    background-color: var(--gamma);
    color: var(--delta);
    padding: 12rem;
    font-size: 13rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
  }